// --------
// - FLEX -
// --------

.flex-grow {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}

.flex-col-wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-axis-center {
    justify-content: center;
}

.flex-axis-separate {
    justify-content: space-between;
}

.flex-naxis-center {
    align-items: center;
}


// --------
// - SIZE -
// --------

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-dialog {
    width: 36rem;
}

.w-paragraph {
    width: 72rem;
}