@use "_base.scss";

body {
    @include flex-row;

    height: 100%;

    .sidebar {
        @include flex-col;

        padding: 1.25rem;
        background-color: blanchedalmond;

        nav {
            @include flex-col;
        }
    }

    .page {
        @include flex-col;

        main {
            @include flex-col;

            padding: 1rem 2rem;
        }

        footer {
            @include flex-row-wrap;

            padding: 0.25rem 0.75rem;
            justify-content: space-between;
        }
    }
}