<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
    </tr>

    {{- for account_list_item in account_list_items -}}
    <tr>
        <td><strong>{: account_list_item.name :}</strong></td>
        <td><i>{: account_list_item.kind :}</i></td>
        <td>
            {{- if let Some(description) = account_list_item.description -}}
            {: description :}
            {{- endif -}}
        </td>
        <td>
            <input type="button" value="Delete" hx-delete="/api/v1/ledger/account/{: account_list_item.id :}"
                hx-swap="none" />
        </td>
    </tr>
    {{- endfor -}}
</table>
