<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    {{- for payee_list_item in payee_list_items -}}
    <tr>
        <td>{: payee_list_item.name :}</td>

        <td>
            {{- if let Some(description) = payee_list_item.description -}}
            {: description :}
            {{- endif -}}
        </td>
        <td>
            <input type="button" value="Delete" hx-delete="/api/v1/ledger/payee/{: payee_list_item.id :}"
                hx-swap="none" />
        </td>
    </tr>
    {{- endfor -}}
</table>
