body,
input,
p {
    margin: 0;
    padding: 0;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col-form {
    display: flex;
    flex-flow: column nowrap;
}

.hor-spacer {
    margin-right: auto;
    margin-left: auto;
}