html,
body {
    height: 100%;
    width: 100%;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

hr {
    width: 100%;
}

summary {
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

.hor-spacer {
    margin-right: auto;
    margin-left: auto;
}