@use "base.scss";

.login-area {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    align-items: center;


    form {
        width: 32rem;

        input {
            margin-bottom: 0.5rem;

            width: 95%;
            align-self: center;
        }
    }
}