@use "base.scss";

.login-area {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    align-items: center;


    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        width: 32rem;

        input {
            margin-bottom: 0.5rem;

            width: 95%;
        }
    }
}