{{ extends "pages/_page.html" }}

{{ block TITLE }}
µLedger: Accounts
{{ endblock }}

{{ block HEADER }}
<h1>Your Accounts</h1>
{{ endblock }}

{{ block CONTENT }}
<details>
    <summary>Add a New Account</summary>

    <div id="create-form">
        <div id="form-status"></div>

        <form hx-post="/api/v1/ledger/accounts" hx-target-error="#form-status">
            <label for="name">Account Name</label>
            <input type="text" name="name" placeholder="account name..." required />

            <label for="description">Account Description</label>
            <textarea name="description" placeholder="account descrition..."></textarea>

            <input type="submit" value="Create Account" />
        </form>
    </div>
</details>

<hr />

<section class="list" hx-trigger="load" hx-get="/api/v1/ledger/accounts"></section>
{{ endblock }}