{{ extends "pages/_page.html" }}

{{ block HEAD }}
<link rel="stylesheet" href="/assets/styles/_list.scss" />
{{ endblock }}

{{ block TITLE }}
µLedger: Accounts
{{ endblock }}

{{ block HEADER }}
<h1>Your Accounts</h1>
{{ endblock }}

{{ block CONTENT }}
<details>
    <summary>Add a New Account</summary>

    <div id="create-form" >
        <div id="form-status"></div>

        <form hx-post="/api/v1/ledger/accounts" hx-target-error="#form-status">
            <label for="name">Account Name</label>
            <input type="text" name="name" placeholder="account name..." required />

            <label for="kind">Account Kind</label>
            <select name="kind" required>
                <option value="INCOME">Income</option>
                <option value="EXPENSE">Expense</option>
                <option value="ASSET">Asset</option>
                <option value="LIABILITY">Liability</option>
                <option value="EQUITY">Equity</option>
            </select>

            <label for="description">Account Description</label>
            <textarea name="description" placeholder="account descrition..."></textarea>

            <input type="submit" value="Create Account" />
        </form>
    </div>
</details>

<hr />

<section class="accounts-list" hx-trigger="load" hx-get="/api/v1/ledger/accounts"></section>
{{ endblock }}