{{ extends "pages/_page.html" }}

{{ block HEAD }}
<link rel="stylesheet" href="/assets/styles/page.scss" />
{{ endblock }}

{{ block TITLE }}
µLedger: Commodities
{{ endblock }}

{{ block HEADER }}
<h1>Your Commodities</h1>
{{ endblock }}

{{ block CONTENT }}
<details>
    <summary>Add a New Commodity</summary>

    <div id="create-form" hx-ext="response-targets">
        <div id="form-status"></div>

        <form hx-post="/api/v1/ledger/commodities" hx-target-error="#form-status">
            <label for="name">Commodity Name</label>
            <input type="text" name="name" placeholder="commodity name..." required />

            <label for="description">Commodity Description</label>
            <textarea name="description" placeholder="commodity descrition..."></textarea>

            <label for="format">Commodity Format</label>
            <input type="text" name="format" placeholder="commodity name..." required />

            <input type="submit" value="Create Account" />
        </form>
    </div>
</details>

<hr />

<section class="commodities-list" hx-trigger="load" hx-get="/api/v1/ledger/commodities"></section>
{{ endblock }}