{{ extends "~base.html" }}

{{ block TITLE }}
µLedger: Home
{{ endblock }}

{{ block HEAD }}
<link rel="stylesheet" href="/assets/styles/index.scss" />
{{ endblock }}

{{ block BODY }}
<div class="sidebar">
    <header>
        Welcome<br />
        <strong>{:display_name:}</strong>
    </header>

    <nav>
        <button hx-get="/pages/accounts" hx-trigger="click" hx-target="#main-content">Accounts</button>
        <button hx-get="/login" hx-trigger="click" hx-target="#main-content">Test</button>
    </nav>
</div>


<div class="content flex-grow">
    <main id="main-content" class="flex-grow">
    </main>

    <footer>
        <span>Copyright © 2024, Noname Software Technologies</span>
        <a href="/logout">Logout</a>
    </footer>
</div>
{{ endblock }}