{{ extends "~base.html" }}

{{ block TITLE }}
µLedger: Home
{{ endblock }}

{{ block HEAD }}
<link rel="stylesheet" href="/assets/styles/page.scss" />
{{ endblock }}

{{ block BODY }}
<nav>
    <ul>
        <li>
            <button hx-get="/api/v1/ledger/accounts" hx-trigger="click" hx-target="#main-content">Accounts</button>
        </li>
        <li>
            <button hx-get="/login" hx-trigger="click" hx-target="#main-content">Test</button>
        </li>
        <li>List Item 3</li>
        <li>List Item 4</li>
    </ul>
</nav>

<div class="content flex-grow">
    <main id="main-content" class="flex-grow">
    </main>

    <footer>
        <span>Copyright © 2024, Noname Software Technologies</span>
        <a href="/logout">Logout</a>
    </footer>
</div>
{{ endblock }}