@use "_base.scss";

body {
    @include flex(row, nowrap);
}

.sidebar {
    @include flex(column, wrap);

    padding: 1.25rem;
    background-color: blanchedalmond;
}

.page {
    @include flex(column, wrap);

    main {
        @include flex(column, wrap);

        padding: 1rem 2rem;
    }

    footer {
        @include flex(column, wrap, $justify: space-between);

        padding: 0.25rem 0.75rem;
    }
}