{{ extends "pages/_page.html" }}

{{ block TITLE }}
µLedger: Accounts
{{ endblock }}

{{ block HEADER }}
<h1>Your Accounts</h1>
{{ endblock }}

{{ block CONTENT }}
<details>
    <summary>Add a New Account</summary>

    <div id="create-form">
        <div id="form-status"></div>

        <form hx-post="/api/v1/ledger/account" hx-target-error="#form-status" hx-swap-oob="true"
            hx-on::after-request="if (event.detail.successful) { this.reset() }">
            <label for="name">Account Name</label>
            <input type="text" name="name" placeholder="account name..." required />

            <label for="kind">Account Kind</label>
            <select name="kind" required>
                <optgroup label="Asset: Cash">
                    <option value="AC_CHECKING">Checking</option>
                    <option value="AC_SAVING">Saving</option>
                    <option value="AC_PREPAID">Prepaid</option>
                    <option value="AC_MOBILE_PAYMENTS">Mobile Payments</option>
                    <option value="AC_CASH_MANAGEMENT">Cash Management</option>
                </optgroup>
                <optgroup label="Asset: Invesetment">
                    <option value="AI_BROKERAGE">Brokerage</option>
                    <option value="AI_ROTH_IRA">Roth IRA</option>
                    <option value="AI_TRADITIONAL_IRA">Traditional IRA</option>
                    <option value="AI_SEP_IRA">SEP IRA</option>
                    <option value="AI_TRADITIONAL_401k">Traditional 401k</option>
                    <option value="AI_ROTH_401k">Roth 401k</option>
                    <option value="AI_529_PLAN">529 Plan</option>
                </optgroup>
                <option value="A_OTHER">Other Asset</option>
            </select>

            <label for="description">Account Description</label>
            <textarea name="description" placeholder="(optional)"></textarea>

            <input type="submit" value="Create" />
        </form>
    </div>
</details>

<hr />

<section class="list" hx-trigger="load" hx-get="/api/v1/ledger/account"></section>
{{ endblock }}
