{{ extends "pages/_page.html" }}

{{ block TITLE }}
µLedger: Payees
{{ endblock }}

{{ block HEADER }}
<h1>Your Payees</h1>
{{ endblock }}

{{ block CONTENT }}
<details>
    <summary>Add a New Payee</summary>

    <div id="create-form">
        <div id="form-status"></div>

        <form hx-post="/api/v1/ledger/payee" hx-target-error="#form-status" hx-swap="none"
            hx-on::after-request="if (event.detail.successful) { this.reset() }">
            <label for="name">Payee Name</label>
            <input type="text" name="name" placeholder="payee name..." required />

            <label for="description">Payee Description</label>
            <textarea name="description" placeholder="payee descrition..."></textarea>

            <input type="submit" value="Create" />
        </form>
    </div>
</details>

<hr />

{#
<section id="payeesList" class="list" hx-trigger="load, every 30s, eventPayeesChanged from:body" hx-get="/payees/list">
</section>
#}
{{ endblock }}
